<%= render "layouts/errors", :object => @tale %>
<div class="well">
<%= form_for @tale do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  <%= f.submit class: 'btn btn-primary'%>
</div>
<% end %>
