<!DOCTYPE html>
<html>
  <head>
    <title>WebTales</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
        <h4 class="navbar-brand"> <%= link_to "Web Tales", tales_path %> </h4>
        </div>
      </div>
    </nav>
  </head>

  <body>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
